.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.input-group {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid rgba(192, 192, 255, 1.0);
  border-radius: 3px;
}

.input-group > label, .input-group > input, .input-group > textarea {
  width: 45%;
  text-align: left;
  vertical-align: top;
  display: inline-block;
}

textarea {
  resize: vertical;
}